<section *ngIf="movie" class="content">
  <div class="display">
    <div class="poster">
      <img [src]="src(movie.poster_path)" alt="text" />
    </div>

    <div class="info">
      <h3 class="title">{{ movie.title }}</h3>
      <p class="info2">
        <span>{{ classification }} Anos</span>
        <span class="pointer"> • </span>
        <span>{{ data(movie.release_date) }} (BR)</span>
        <span class="pointer"> • </span>
        <span>{{ genres(movie.genres) }}</span>
        <span class="pointer"> • </span>
        <span>{{ movie.runtime }} min</span>
      </p>
      <div class="avaliacao">
        <circle-progress
          [percent]="movie.vote_average * 10"
          [radius]="30"
          [outerStrokeWidth]="2"
          [innerStrokeWidth]="2"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [unitsColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="600"
          [titleColor]="'#78C000'"
          [showSubtitle]="false"
        ></circle-progress>
        <span>Avaliação dos usuários</span>
      </div>

      <div class="sinopse">
        <h3>Sinopse</h3>
        <p>{{ movie.overview }}</p>
      </div>

      <div class="participantes">
        <div *ngFor="let participante of viewCast">
          <h4>{{ participante.name }}</h4>
          <span>{{ participante.known_for_department }}</span>
        </div>
      </div>
      <div class="produtores">
        <div *ngFor="let producao of viewCrew">
          <h4>{{ producao.name }}</h4>
          <span>{{ producao.known_for_department }}</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="info3">
  <h2>Elenco Original</h2>
  <div class="elenco">
    <div *ngFor="let participante of cast(participantes)">
      <app-card-elenco [participante]="participante"></app-card-elenco>
    </div>
  </div>
</section>

<section class="info4" *ngIf="trailer">
  <h2>Trailer</h2>
  <div class="trailer">
    <iframe
      [src]="safeUrl(trailer)"
      title="YouTube video player"
      frameborder="0"
    ></iframe>
  </div>
</section>

<section class="info5">
  <h2>Recomendações</h2>
  <div class="recomendacao">
    <app-card
      class="card"
      *ngFor="let rec of recomendacoes"
      [popular]="rec"
      onclick="location.reload(); window.scrollTo(0, 0);"
    ></app-card>
  </div>
</section>
