.content {
  width: 100%;
  height: 37.5rem;
  background-color: var(--purple-800);

  .display {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .poster {
      margin: 3.5rem 2rem 3.5rem 5rem;
      img {
        width: 24rem;
        height: 35.875rem;
        border-radius: 0.5rem;
        box-shadow: 0px 10px 13px -7px var(--black);
      }
    }

    .info {
      display: flex;
      height: 35rem;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      .title {
        margin-bottom: 0.25rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.375rem;
      }

      .info2 {
        margin-bottom: 0.25rem;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.5rem;
      }

      .sinopse {
        width: 90%;
        font-weight: 300;
        h3 {
          margin: 1rem 0;
        }
        p {
          color: var(--gray-300);
        }
      }

      .participantes {
        display: flex;
        flex-wrap: wrap;
        display: flex;
        margin-top: 1rem;
        flex-wrap: wrap;

        div {
          width: 10rem;
          margin-right: 2rem;
          padding: 0.25rem 1rem 0.25rem 0;
          display: flex;
          flex-direction: column;

          span {
            font-weight: 300;
          }

          h3 {
            font-size: 1.2rem;
          }

          h3 + span {
            font-weight: 300;
          }
        }
      }
      .produtores {
        display: flex;
        flex-wrap: wrap;
        display: flex;

        flex-wrap: wrap;

        div {
          width: 10rem;
          margin-right: 2rem;
          padding: 0.25rem 1rem 0.25rem 0;
          display: flex;
          flex-direction: column;

          span {
            font-weight: 300;
          }

          h3 {
            font-size: 1.2rem;
          }

          h3 + span {
            font-weight: 300;
          }
        }
      }
      .avaliacao {
        display: flex;
        flex-wrap: wrap;
        span {
          width: 10%;
          margin-top: 0.5rem;
          margin-left: 1rem;
        }
      }
    }
  }
}

.info3 {
  width: 100%;
  color: var(--black);
  margin: 3rem 0 3rem 5rem;

  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 0rem;
  }

  .elenco {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem 0;
    overflow-x: scroll;

    div {
      margin-right: 0.65rem;
      margin-bottom: 0.65rem;
    }

    &::-webkit-scrollbar {
      height: 0.7rem;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--gray-200);
      border-radius: 6.25rem;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--gray-300);
      border-radius: 6.25rem;
    }
  }
}

.info4 {
  width: 100%;
  color: var(--black);
  margin: 3rem 0 3rem 5rem;

  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 0rem;
  }

  .trailer {
    margin-top: 1rem;
    iframe {
      width: 60%;
      height: 31.875rem;
    }
  }
}

.info5 {
  width: 100%;
  color: var(--black);
  margin: 3rem 0 3rem 5rem;

  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 0rem;
  }

  .recomendacao {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem 0;
    overflow: hidden;

    .card {
      margin: 1.25rem 1rem;
    }
  }
}
