.content {
  width: 100%;
  height: 37.5rem;
  background-color: var(--purple-800);

  .display {
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .poster {
      margin: 3.5rem 2rem 3.5rem 5rem;
      img {
        width: 24rem;
        height: 35.875rem;
        border-radius: 0.5rem;
      }
    }

    .info {
      display: flex;
      height: 35rem;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      .title {
        margin-bottom: 0.25rem;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.375rem;
      }

      .info2 {
        margin-bottom: 0.25rem;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.5rem;
      }

      .sinopse {
        font-weight: 300;
        h3 {
          margin: 1rem 0;
        }
        p {
          color: var(--gray-300);
        }
      }
    }
  }
}
