.cardParticipante {
  width: 12rem;
  height: 21rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: var(--alice);
  box-shadow: 0px 10px 13px -10px var(--black);
  img {
    height: 13.875rem;
    width: 10.9375rem;
    border-radius: 0.25rem;
  }
  h4 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.875rem;
  }
  span {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}
