.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  height: 100%;
  width: 90%;
  margin: 0 auto;

  .card {
    margin: 1.25rem 1rem;
  }
}

@media (max-width: 480px) and (max-height: 800px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    height: 100%;
    width: 90%;
    margin: 0 auto;

    .card {
      margin: 1rem 0.814rem;
    }
  }
}
