.bg {
  width: 100%;
  height: 31rem;
  .container-top {
    max-width: 100%;
    height: 3.0625rem;
    margin: 0 auto;
    background-color: var(--purple-600);
    .top {
      max-width: 1440px;
      height: 3.0625rem;
      background-color: var(--purple-600);

      svg {
        cursor: pointer;
        margin: 0.8rem;
        margin-left: 5rem;
      }
    }
  }

  .container-box {
    max-width: 100%;
    height: 28.0625rem;
    background-color: var(--purple-800);
    .box {
      max-width: 1440px;
      height: 28.0625rem;
      margin: 0 auto;
      background-color: var(--purple-800);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .titulo {
        text-align: center;
        font-size: 2.5rem;
        width: 48.8125rem;
        margin: 2rem;
      }

      .categorias {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 64.5625rem;
        margin: 2rem;

        .filtro {
          font-size: 0.875rem;
          margin-bottom: 1rem;
        }

        .buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;

          button {
            width: fit-content;
            height: 2.5rem;
            border: 0;
            border-radius: 0.25rem;
            padding: 0.5rem 1rem;
            margin: 0.25rem 0.25rem;
            font-size: 1rem;
            svg {
              display: none;
            }
          }

          .active {
            display: flex;
            align-items: center;
            text-align: center;
            background-color: var(--yellow-700);

            svg {
              margin-left: 0.3rem;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) and (max-height: 800px) {
  .bg {
    width: 30rem;
    height: auto;
    .container-top {
      .top {
        svg {
          margin-left: 30%;
        }
      }
    }

    .container-box {
      max-width: 30rem;
      .box {
        width: 30rem;

        align-items: flex-start;

        .titulo {
          text-align: left;
          font-size: 1.5rem;
          width: 17.5625rem;
          margin: 2rem 2rem 0.5rem 2rem;
        }

        .categorias {
          align-items: flex-start;

          width: 24rem;

          .filtro {
            font-size: 0.875rem;
            margin-bottom: 0.25rem;
          }

          .buttons {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;

            button {
              width: fit-content;
              font-size: 0.875rem;
              height: 2rem;
              border: 0;
              border-radius: 0.25rem;
              padding: 0.5rem 1rem;
              margin: 0.25rem 0.25rem;

              svg {
                display: none;
              }
            }

            .active {
              display: flex;
              align-items: center;
              text-align: center;
              background-color: var(--yellow-700);

              svg {
                margin-left: 0.3rem;
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
