/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --white-100: #e5e5e5;
  --black: #000000;
  --alice: #f0f8ff;
  --gray-100: #e1e1e6;
  --gray-200: #dddddd;
  --gray-300: #a8a8b3;
  --gray-500: #646464;
  --gray-700: #323238;
  --gray-800: #29292e;
  --gray-850: #1f2729;
  --gray-900: #121214;
  --purple-600: #5c16c5;
  --purple-800: #2d0c5e;
  --cyan-500: #61dafb;
  --yellow-500: #eba417;
  --yellow-700: #d18000;
}

body {
  font-family: Roboto, sans-serif;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--white-100);
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  font: 700 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
